<!-- Begin Page Content -->
<div class="container-fluid">
    


    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
            <h6 class="m-0 font-weight-bold text-primary">Lista completa</h6>
            <div class="dropdown no-arrow">
                <a class="dropdown-toggle" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                    aria-labelledby="dropdownMenuLink">
                    <div class="dropdown-header">Mais Opções:</div>
                    <a class="dropdown-item"><span>Exportar</span></a>
                </div>
            </div>
        </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Nome</th>
                                <th>CPF</th>
                                <th>Data Nascimento</th>
                                <th>Sexo</th>
                                <th>Editar</th>
                                <th>Excluir</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>ID</th>
                                <th>Nome</th>
                                <th>CPF</th>
                                <th>Data Nascimento</th>
                                <th>Sexo</th>
                                <th>Editar</th>
                                <th>Excluir</th>
                            </tr>
                        </tfoot>
                        <tbody>
                            <tr *ngFor="let item of lista; let i = index">
                                <th>{{item.id}}</th>
                                <th>{{item.nome}}</th>
                                <th>{{item.cpf}}</th>
                                <th>{{item.data_nascimento}}</th>
                                <th>{{item.sexo}}</th>
                                <th class="th"><button type="button" class="btn btn-warning" (click)="editarUsuario(item.id)"><i class="bi bi-pen"></i></button></th>
                                <th class="th"><button type="button" class="btn btn-danger" (click)="excluirUsuario(item.id)"><i class="bi bi-trash"></i></button></th>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>        
        <div id="modal">
            <button type="button" id="botaoModal" data-bs-toggle="modal" data-bs-target="#modalExclusao">
            </button>
        </div>

    </div>
    <!-- /.container-fluid -->

    <!-- Button trigger modal -->


    <!-- Modal -->
    <div class="modal fade" id="modalExclusao" tabindex="-1" aria-labelledby="modalExclusao"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalExclusao">Exclusão de Usuário</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">                        
                    </button>
                </div>
                <div class="modal-body">
                    <span>{{resposta}}</span>
                </div>
                <div class="modal-footer">
                    <button *ngIf="confirmacao" type="button" class="btn btn-warning"
                        data-bs-dismiss="modal">Cancelar</button>
                    <button *ngIf="confirmacao" type="button" class="btn btn-danger" data-dismiss="modal"
                        (click)="confirmar()">Confirmar</button>
                    <button *ngIf="!confirmacao" type="button" class="btn btn-info" data-dismiss="modal"
                        (click)="concluir()">Concluir</button>
                </div>
            </div>
        </div>
    </div>